<div>
    <h3><a href="product-sheet.html">{{info.name}}</a></h3>
    <h4><a href="product-sheet.html">{{info.productType}}</a></h4>
</div>
<a href="product-sheet.html"><img src="images/{{info.avatar}}" alt="" width="300" height="600"></a>
