<!-- .page-header -->
<div data-ng-init="productInit()">
<div class="page-header" style="background-image:url(images/coffee-1255399_1280.png)" data-stellar-background-ratio="0.2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="#home">Home</a></li>
                    <li class="active">Shop</li>
                </ol>
                <h1>Comprar Café</h1>
            </div>
        </div>    
    </div>
</div>
<!-- /.page-header -->

<nav id="filter-nav-bar" class="navbar navbar-default">
    <div class="container">
    
    <!-- Sort by -->
    <div class="pull-left btn-group" style="display:none;">
        <button type="button" class="btn btn-default dropdown-toggle btn-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Products <span class="fa fa-angle-down carat"></span>
        </button>
        <ul class="dropdown-menu">
        <li class="dropdown-header">Filter by type</li>
        <li><a href="#">All Products</a></li>
        <li><a href="#">Red Wines</a></li>
        <li><a href="#">White Wines</a></li>
        <li><a href="#">Rosé Wines</a></li>
        <li><a href="#">Food Specialties</a></li>
        </ul>
    </div>
                        
    <!-- Price range -->
    <div class="pull-left btn-group" style="display:none;">
        <button type="button" class="btn btn-default dropdown-toggle btn-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        $20 - $29 <span class="fa fa-angle-down carat"></span>
        </button>
        <ul class="dropdown-menu">
        <li class="dropdown-header">Filter by price</li>
        <li><a href="#">Up to $19</a></li>
        <li><a href="#">$20 - $29</a></li>
        <li><a href="#">$30 - $39</a></li>
        </ul>
    </div>
    
    
    <div id="view-option" class="pull-right btn-group navbar-icons hidden-xs" role="group">
        <button data-view="col-sm-6" type="button" class="btn btn-default"><span class="fa fa-th-large"></span></button>
        <button data-view="col-sm-4" type="button" class="btn btn-default active"><span class="fa fa-th"></span></button>
        <button data-view="col-sm-8 col-sm-offset-2 list-view" type="button" class="btn btn-default"><span class="fa fa-th-list"></span></button>
    </div>					
                        
    </div>
</nav>

<div id="product-gallery">
    <div class="container">
        <div class="row">

            <div  ng-repeat="product in products" class="shop-item col-sm-6 col-lg-4">
                <article>
                    <figure class="{{product.classHtml}}">
                        <a href="#produto/{{product.url}}"><img class="img-responsive" src="images/{{product.avatar}}" alt="" width="300" height="600"></a>
                        <a ng-controller="cartController" href="#produto/{{product.url}}" class="add-to-cart fa fa-shopping-cart" ng-click="addOrder(product)"></a>
                    </figure>
                    <div>
                    <h3 style="font-size:20px;"><a href="#produto/{{product.url}}">{{product.name}}</a></h3>
                    <h4 class="red-wines-text">{{product.productType}}</h4>
                    <h5 class="price"><span style="font-size:12px;">a partir de</span> {{product.prices[0].price | currency:"R$"}}</h5>
                    </div>
                </article>
            </div>
            
            <nav class="text-center" style="display:none;">
                <ul class="pagination-product pagination">
                <li>
                    <a href="#" aria-label="Previous">
                    <span aria-hidden="true" class="fa fa-angle-left"></span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                    <span aria-hidden="true" class="fa fa-angle-right"></span>
                    </a>
                </li>
                </ul>
            </nav>		
                                
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="src/js/chateau-script.js"></script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>