 <div class="container">
    <div class="row">
        <div class="col-sm-12">
        
            <section id="sec-form" class="section-bg-light-gray">
                
                <h2>Cadastrar Produto</h2>
                <form data-ng-submit="vm.postProduct(vm.product)" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="InputEmail">Nome</label>
                        <input ng-model="vm.product.name" type="text" class="form-control" id="nomeProduto" placeholder="Nome do produto">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">URL</label>
                        <input ng-model="vm.product.url" type="text" class="form-control" id="urlProduto" placeholder="URL do produto">
                    </div>
                    <div class="form-group">
                        <label for="InputFile">Descrição</label>
                        <textarea ng-model="vm.product.description" class="form-control" rows="10" id="descricaoProduto" placeholder="Descrição do produto"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="InputText">Valor</label>
                        <input ng-model="vm.product.price" type="number" class="form-control" id="precoProduto">
                    </div>
                    <div class="form-group">
                        <label for="InputText">Quantidade</label>
                        <input ng-model="vm.product.quantity" type="number" class="form-control" id="quantidadeProduto">
                    </div>
                    <div class="form-group">
                        <label for="InputFile">Sabor</label>
                        <textarea ng-model="vm.product.taste" class="form-control" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="InputFile">Com o que vai bem</label>
                        <textarea ng-model="vm.product.foodPairing" class="form-control" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="InputText">Premios</label>
                        <input ng-model="vm.product.award[0].name" type="input" class="form-control" id="nomePremio1Produto" name="nomePremio1Produto" placeholder="Nome do premio">
                        <input file-model="vm.product.award[0].avatar" type="file" class="form-control" id="premio1Produto" name="premio1Produto">
                        
                        <span style="border-top: solid 1px #DDDDDD; margin: 10px; display:block;"></span>
                        
                        <input ng-model="vm.product.award[1].name" type="input" class="form-control" id="nomePremio2Produto" name="nomePremio2Produto" placeholder="Nome do premio">
                        <input file-model="vm.product.award[1].avatar"type="file" class="form-control" id="premio2Produto" name="premio2Produto">
                        
                        <span style="border-top: solid 1px #DDDDDD; margin: 10px; display:block;"></span>
                        
                        <input ng-model="vm.product.award[2].name" type="input" class="form-control" id="nomePremio3Produto" name="nomePremio3Produto" placeholder="Nome do premio">
                        <input file-model="vm.product.award[2].avatar" type="file" class="form-control" id="premio3Produto" name="premio3Produto">

                        <span style="border-top: solid 1px #DDDDDD; margin: 10px; display:block;"></span>

                        <input ng-model="vm.product.award[3].name" type="input" class="form-control" id="nomePremio4Produto" name="nomePremio4Produto" placeholder="Nome do premio">
                        <input file-model="vm.product.avatar[3].avatar" type="file" class="form-control" id="premio4Produto" name="premio4Produto">

                        <span style="border-top: solid 1px #DDDDDD; margin: 10px; display:block;"></span>

                        <input ng-model="vm.product.award[4].name" type="input" class="form-control" id="nomePremio5Produto" name="nomePremio5Produto" placeholder="Nome do premio">
                        <input file-model="vm.product.award[4].avatar" type="file" class="form-control" id="premio5Produto" name="premio5Produto">

                        <span style="border-top: solid 1px #DDDDDD; margin: 10px; display:block;"></span>

                        <input ng-model="vm.product.award[5].name" type="input" class="form-control" id="nomePremio6Produto" name="nomePremio6Produto" placeholder="Nome do premio">
                        <input file-model="vm.product.award[5].avatar" type="file" class="form-control" id="premio6Produto" name="premio6Produto">
                    </div>
                    <div class="form-group">
                        <label for="InputFile">Video</label>
                        <input ng-model="vm.product.video" type="text" class="form-control" id="urlVideoProduto" placeholder="URL do video">
                    </div>
                    <div class="form-group">
                        <label for="InputFile">Imagem</label>
                        <input type="file" file-model="vm.product.avatar" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="InputFile">Tipo produto</label>
                        <select class="form-control" ng-model="vm.product.productType">
                            <option value="Gourmet">Gourmet</option>
                            <option value="Organico">Orgânico</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="InputFile">Peso</label>
                        <select class="form-control" ng-model="vm.product.weight">
                            <option value="0.300">250g</option>
                            <option value="0.500">500g</option>
                            <option value="0.500">1kg</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="InputFile">Senha</label>
                        <input type="password" ng-model="vm.product.password" class="form-control" id="passwordProduto" placeholder="Senha do ADM">
                    </div>
                    <button class="btn pull-right btn-primary btn-lg btn-animated btn-style-1" type="submit">
                        <span class="btn-label">Enviar</span>
                        <span class="btn-icon fa fa-arrow-circle-right"></span>
                    </button>			                		
                </form>
                        
            </section>
        </div>
    </div>
</div>
<script type="text/javascript">
;( function( $ ) {

    $( '.swipebox' ).swipebox();

} )( jQuery );
</script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>