<div class="container-fluid bg-cover" data-ng-init="initForm()" style="background-image:url(images/coffee-1178879_1280.jpg)">
    <div class="row">
                            
        <section id="register" class="clearfix os-animation" data-os-animation="fadeIn">
        
            <div class="col-sm-12">
                <div class="form-box">
                    <form ng-submit="pagSeguro(buyer,addressCep)" name="formOrder">
                        <h2 class="text-center">Dados do Comprador</h2>
                        <div class="form-group">
                            <label for="reg-fname">Nome Completo</label>
                            <input type="text" class="form-control" id="reg-fname" ng-model="buyer.name" placeholder="Nome Completo" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-email">Email</label>
                            <input type="email" class="form-control" id="reg-email" ng-model="buyer.email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-phone">Telefone</label>
                            <input type="text" class="form-control" id="reg-phone" placeholder="(99) 99999-9999" ng-model="buyer.phoneNumber"  ui-br-phone-number required>
                        </div>
                        
                        <h4 style=" border-bottom: 1px solid #858585; line-height: 0.75em;margin-bottom:26px;padding: 0 10; margin-top: 50px" class="text-left">
                            <span style="background: #fff;">Endereço de entrega</span>
                        </h4>
                        <div class="form-group">
                            <label for="reg-fname">CEP</label>
                            <input ng-change="address(cepTo)" ng-model="cepTo" type="text" class="form-control" id="reg-fname" placeholder="99999-999"  ui-br-cep-mask required>
                            <span class="{{messageAddress.classHtml}}">{{messageAddress.text}}</span>
                        </div>
                        <div class="form-group">
                            <label for="reg-logradouro">Logradouro</label>
                            <input type="text" class="form-control" id="reg-logradouro" ng-model="addressCep.logradouro" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-numero">Número</label>
                            <input type="text" class="form-control" id="reg-numero" ng-model="addressCep.numero" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-complemento">Complemento</label>
                            <input type="text" class="form-control" id="reg-complemento" ng-model="addressCep.complemento">
                        </div>
                        <div class="form-group">
                            <label for="reg-bairro">Bairro</label>
                            <input type="text" class="form-control" id="reg-bairro" ng-model="addressCep.bairro" >
                        </div>
                        <div class="form-group">
                            <label for="reg-bairro">Cidade</label>
                            <input type="text" class="form-control" id="reg-cidade" ng-model="addressCep.localidade" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-bairro">Estado</label>
                            <input type="text" class="form-control" id="reg-cidade" ng-model="addressCep.uf" required>
                        </div>
                        <div class="checkbox">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-style-1 center-block" ng-disabled="btndisabled">Enviar</button>
                        <p class="{{message.textClass}}" style="text-align: center" ng-show="message.text">
                        {{message.text}}
                        </p> 
                    </form>
                    
                </div>	
                                        
            </div>
        </section>

    </div>
</div>
<script type="text/javascript" src="src/js/chateau-script.js"></script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>