<div class="container-fluid">
    <div class="row">
    
        <!-- Slider main container -->
        <div id="swiper-1" class="swiper-container">
        
            <!-- Required wrapper -->
            <div class="swiper-wrapper">
            
                <!-- Slides -->
                <div class="swiper-slide" id="slide-0">
                    <div class="background">
                        <video autoplay="" loop="" poster="/images/thumbvideo.jpg" style="width: 1571px;">
                        <source src="/images/phicafe-menor.mp4" type="video/mp4">
                        <source src="/images/phicafe-menor.mp4" type="video/webm">
                        Your browser does not support the video tag. I suggest you upgrade your browser.
                        </video>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 text-center">
                                <h1 class="color-light" data-animation="animated bounceInDown">
                                    Desafiando o Tradicional
                                </h1>
                                <span class="separator" data-animation="animated bounceInLeft"></span>
                                <p class="color-light" data-animation="animated bounceInUp">
                                    A maneira que desafiamos o TRADICIONAL é trazendo produtos frescos com aromas maravilhosos, cultivados por pequenos agricultores com grandes histórias.
                                </p>
                                <a href="#produtos" class="btn btn-primary btn-lg btn-animated btn-style-1" data-animation="animated bounceInUp">
                                    <span class="btn-label">Nosso café</span>
                                    <span class="btn-icon fa fa-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" id="slide-1">
                    <div class="background" style="background-image:url('images/stock-photo-tilt-shift-4058635.jpg')"> </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5">
                                
                                <h1 class="color-light" data-animation="animated bounceInDown">
                                    Região<br>
                                    Prestigiada
                                </h1>
                                <span class="separator" data-animation="animated bounceInUp"></span>
                                <p class="color-light" data-animation="animated bounceInUp">
                                    Graças à florescente lavoura de café no século XIX, Amparo e região foram
                                    ganhando posição ascendente entre as cidades mais importantes de todo 
                                    país. Toda a fama e o sabor deste café surgiram devido as montanhas 
                                    suntuosas onde o café é plantado.
                                </p>
                                <a href="#produtos" class="btn btn-primary btn-lg btn-animated btn-style-1" data-animation="animated bounceInUp">
                                    <span class="btn-label">Nosso café</span>
                                    <span class="btn-icon fa fa-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" id="slide-2">
                    <div class="background" style="background-image:url('/images/coffee-747604_1280.jpg')"></div>
                    

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5">
                                <h1 class="color-light" data-animation="animated bounceInUp">
                                    Orgânico<br>
                                    e Gourmet
                                </h1>
                                <span class="separator" data-animation="animated bounceInLeft"></span>
                                <p class="color-light" data-animation="animated bounceInLeft">
                                    Com produtos de alta qualidade, o PHI Café, comercializa café orgânico e
                                    gourmet.
                                </p>
                                <a href="#produtos" class="btn btn-primary btn-lg btn-animated btn-style-1" data-animation="animated bounceInUp">
                                    <span class="btn-label">Nosso café</span>
                                    <span class="btn-icon fa fa-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <!-- Pagination -->
            <div class="swiper-pagination"></div>
            
            <!-- Navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            
        </div>
        <!-- /#swiper-1 -->
        
    </div>
    <!-- /.row -->
    
</div>
<!-- /.container-fluid -->
<section>
    <div class="container" style="text-align:center;">
        <div class="flag">
            <span class="fa fa-heart-o"></span>
        </div>
        <h3 style="position:relative;top:-55px;">Depoimentos</h3>
        <div id="meuDepoimento" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#meuDepoimento" data-slide-to="0" class="active" style="border:none;background-color: transparent;"></li>
                <li data-target="#meuDepoimento" data-slide-to="1" style="border:none;background-color: transparent;"></li>
                <li data-target="#meuDepoimento" data-slide-to="2" style="border:none;background-color: transparent;"></li>
                <li data-target="#meuDepoimento" data-slide-to="3" style="border:none;background-color: transparent;"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="text-align:center;">
                    <img src="images/lazaro.jpeg" alt="Chania" width="100" height="100" style="border-radius:50px;left:50%;position:relative;margin-left:-50px;">
                    <h4>Lazaro</h4>
                    <p>O phi café representa o sabor do café puro, tanto o orgânico quanto o gourmet possuem um sabor que chamam a atenção de qualquer paladar. 
                        É beber e com certeza sentirá a diferença. Todos aqui de casa experimentaram e se deliciaram com o sabor!</p>
                </div>
                <div class="item" style="text-align:center;">
                    <img src="images/rosana.jpeg" alt="Chania" width="100" height="100" style="border-radius:50px;left:50%;position:relative;margin-left:-50px;">
                    <h4>Rosana</h4>
                    <p>Amei!!! Você sente o sabor do puro café. Arrassou!</p>
                </div>
                <div class="item" style="text-align:center;">
                    <img src="images/marcela.jpeg" alt="Chania" width="100" height="100" style="border-radius:50px;left:50%;position:relative;margin-left:-50px;">
                    <h4>Marcela</h4>
                    <p>Eu adorei, levei para o pessoal do banco e eles acharam muito bom.</p>
                </div>
                <div class="item" style="text-align:center;">
                    <img src="images/simone.jpeg" alt="Chania" width="100" height="100" style="border-radius:50px;left:50%;position:relative;margin-left:-50px;">
                    <h4>Simone</h4>
                    <p>Eu comprei para meu marido e disse, que é leve e gostou muito.</p>
                </div>
                <div class="item" style="text-align:center;">
                    <img src="images/edina.jpeg" alt="Chania" width="100" height="100" style="border-radius:50px;left:50%;position:relative;margin-left:-50px;">
                    <h4>Edina</h4>
                    <p>Gostei muito, é encorpado e o sabor é muito bom. Aprovei.</p>
                </div>
                <div class="item" style="text-align:center;">
                    <img src="images/anamaria.jpeg" alt="Chania" width="100" height="100" style="border-radius:50px;left:50%;position:relative;margin-left:-50px;">
                    <h4>Ana Maria</h4>
                    <p>Eu gostei, como não uso açúcar e adoçante, consigo sentir bem o sabor diferenciado dele.</p>
                </div>
                <div class="item" style="text-align:center;">
                    <img src="images/sandra.jpeg" alt="Chania" width="100" height="100" style="border-radius:50px;left:50%;position:relative;margin-left:-50px;">
                    <h4>Sandra</h4>
                    <p>Apesar de ser mais caro que o café de supermercados, o sabor é muito superior.</p>
                </div>
            </div>
            <a href="javascript:;" class="left carousel-control" data-target="#meuDepoimento" role="button" data-slide="prev" style="background-image: inherit;">
                <span class="fa fa-chevron-left" aria-hidden="true" style="color:#000000;"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a href="javascript:;" class="right carousel-control" data-target="#meuDepoimento" role="button" data-slide="next" style="background-image: inherit;">
                <span class="fa fa-chevron-right" aria-hidden="true" style="color:#000000;"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section style="padding-top:10px;">
    <div class="container">
    
        

        <div class="row">
        
            <div class="col-sm-4">
                <img alt="" class="img-responsive img-thumbnail mar-v os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s" src="/images/Amparo_2682.png">
            </div>

            <div class="col-sm-8">
                <h2>
                    Décadas<br>
                    de conhecimento
                </h2>
                <span class="separator"></span>
                <p>
                    Amparo em 1879 já considerada a maior produtora de café do Brasil Império e recebendo a
                    visita de <a href="https://pt.wikipedia.org/wiki/Dom_Pedro_II" target="__blank">Dom Pedro II</a>.
                    Prospera com o café, iluminada com lampiões a querosene e as estradas de ferro, 
                    para escoar sua crescente produção de cafeeira rumo ao porto de Santos.
                </p>
                <img alt="" height="103" src="images/signature.png" width="202">
            </div>
            
        </div>
    </div>
</section>

<section class="section-photo parallax color-light" data-stellar-background-ratio="0.5" style="background-image:url('/images/nature-653908_1920.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>
                    <em>Nosso Café</em>
                </h2>

                <h3>
                    No topo de grandes montanhas
                </h3>
            </div>
        </div>
    </div>

    <div class="overlay">
    </div>
</section>

<section>
    <div class="container">
        <div class="flag">
            <span class="fa fa-leaf"></span>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>
                    Produto Orgânico e Gourmet
                </h2>
                <span class="separator"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                <a href="#produtos#filter=.organic">
                <figure class="box-1 img-thumbnail mar-v">
                    <figcaption>
                        Orgânico
                    </figcaption>
                    <div class="overlay"></div>
                    <img alt="" class="img-appear" src="images/novo-500-organico.png">
                    <img alt="" class="img-responsive" src="images/leaf-654121_1280.png">
                </figure></a>
            </div>

            <div class="col-sm-6 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                <a href="#produtos#filter=.gourmet">
                <figure class="box-1 img-thumbnail mar-v">
                    <figcaption>
                        Gourmet
                    </figcaption>
                    <div class="overlay"></div>
                    <img alt="" class="img-appear" src="images/novo-500.png">
                    <img alt="" class="img-responsive" src="images/coffee-917613_1280.png">
                </figure></a>
            </div>

        </div>
    </div>
</section>

<section class="section-photo parallax color-light" data-stellar-background-ratio="0.5" style="background-image:url('images/coffee-692820_1920.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>
                    <em>Região perfeita</em>
                </h2>

                <h3>
                    Para produzir os melhores cafés
                </h3>
            </div>
        </div>
    </div>

    <div class="overlay">
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-7" ng-controller="supportController" data-ng-init="supportInit()">
                <form name="supportForm" ng-submit="send()">
                    <h2>Tire sua dúvida</h2>
                    <div class="form-group">
                        <label for="msg-email">Nome</label>
                        <input type="input" name="name" ng-model="support.name"  class="form-control"  placeholder="Nome e sobrenome" required>
                    </div>
                    <div class="form-group">
                        <label for="msg-email">Email</label>
                        <input type="email" ng-model="support.email" class="form-control" id="msg-email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="msg-email">Assunto</label>
                        <select class="form-control" placeholder="selecione um assunto" ng-model="support.subject" required>
                            <option value="" selected="selected">Selecione um assunto</option>
                            <option value="Informações dos Produtos">Informações dos Produtos</option>
                            <option value="Meu Pedido">Meu Pedido</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="msg-text">Mensagem</label>
                        <textarea rows="6" class="form-control" ng-model="support.message" id="msg-text" placeholder="Descrição" required></textarea>
                    </div>
                    
                    <button class="btn btn-primary btn-lg btn-animated btn-style-1" type="submit">
                    <span class="btn-label">Enviar Mensagem</span>
                    <span class="btn-icon fa fa-envelope"></span>
                    </button>
                    <p class="text-info" ng-show="message.text">
                        {{message.text}}
                    </p> 
                </form>
            </div>
            <div class="col-sm-5">
                <h2>Contatos</h2>
                <h3>Telefone</h3>
                <p>
                (19)99629-9728 - Alessandra de Souza
                </p>
                <h3>Skype</h3>
                <p>
                phi.cafe
                </p>
                
                <h3>Email</h3>
                <p>
                suporte@phicafe.com.br
                </p>
            
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="src/js/chateau-script.js"></script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>

