<div class="container-fluid bg-cover" style="background-image:url(images/coffee-1117933_1920.jpg)" data-ng-init="userInit()">
    <div class="row">
                            
        <section id="login" class="clearfix os-animation" data-os-animation="fadeIn">
        
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-box">
                <form ng-submit="login(credentials)" ng-controller="userController">
                    <h2 class="text-center">Login</h2>
                    <div class="form-group">
                        <label for="InputEmail">Email</label>
                        <input type="email" class="form-control" id="InputEmail" placeholder="Email" ng-model="credentials.email" required>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Senha</label>
                        <input type="password" class="form-control" id="InputPassword" placeholder="Senha" minlength="8" ng-model="credentials.password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-style-1 center-block" ng-disabled="btnDisabled">Login</button>
                    <p class="{{message.textClass}}" style="text-align: center" ng-show="message.text">
                        {{message.text}}
                    </p> 
                </form>
                <div class="form-box-msg text-center">
                    Você não tem uma conta ainda? <a href="#cadastrar{{query}}">Registre aqui</a>
                </div>
                </div>
            </div>

        </section>

    </div>
</div>
<script type="text/javascript" src="src/js/chateau-script.js"></script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>