 <div class="container" data-ng-init="initOrder()">
    <div class="row">
        <div class="col-sm-12">
        
            <section id="shopping-cart">
            
            <h2>Seu pedido</h2>
                <table id="cart" ng-if="listProductOrder != 0" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:40%">Produto</th>
                            <th style="width:10%">Tipo</th>
                            <th style="width:10%">Peso</th>
                            <th style="width:10%">Valor</th>
                            <th style="width:5%">Quantidade</th>
                            <th style="width:10%" class="text-center">Subtotal</th>
                            <th style="width:15%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, product) in listProductOrder track by $index" ng-if="product.price > 0">
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#produto/{{product.url}}"><img src="images/{{product.avatar}}" alt="" class="pull-left product-thumb"/></a>
                                        <h4 class="nomargin">{{product.name}}</h4>
                                        <p style="text-overflow: ellipsis; white-space: nowrap; width: 350px; overflow: hidden;">{{product.description}}</p>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">{{product.typeProduct}}</td>
                            <td data-th="Price">{{product.tableWeight}}</td>
                            <td data-th="Price">{{product.price | currency:"R$"}}</td>
                            <td data-th="Quantity">
                                <input type="number" ng-change="changeQuantity(product.quantity, key)" min="1"  class="form-control text-center" ng-value="{{product.quantity}}" ng-model="product.quantity">
                            </td>
                            <td data-th="Subtotal" class="text-center">{{product.price*product.quantity | currency:"R$"}}</td>
                            <td class="actions" data-th="">
                                <button ng-click="deleteProduct(key)" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>								
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!-- INICIO CODIGO PAGSEGURO 
                                <a href="https://pagseguro.uol.com.br/desenvolvedor/simulador_de_frete.jhtml?CepOrigem=13905303&amp;Peso={{totalWeight}}&amp;Valor=0,00" id="ps_freight_simulator" target="_blank">
                                    <img src="https://p.simg.uol.com.br/out/pagseguro/i/user/imgCalculoFrete.gif" id="imgCalculoFrete" alt="Cálculo automático de frete" border="0" />
                                </a>
                                -->
                                <!--Envio facíl PagSeguro: 
                                <!--<input ng-change="shipping(cepTo)" type="text" placeholder="CEP" ng-model="cepTo" ui-br-cep-mask/>
                                <span ng-show="loadingShipping">Carregando...</span>
                                <p class="text-danger" ng-show="messageCep.text">
                                    {{messageCep.text}}
                                </p>
                                <span ng-show="shippingOption">{{shippingOption[0].Description}} : {{ shippingOption[0].Valor | currency:"R$" }}</span>
                                !-->
                                <!-- INICIO CODIGO PAGSEGURO -->
                                <a href="https://pagseguro.uol.com.br/desenvolvedor/simulador_de_frete.jhtml?CepOrigem=13806220&amp;Peso={{pesoPagSeguro}}&amp;Valor={{valorPagSeguro}}" id="ps_freight_simulator" target="_blank">
                                    <img src="https://p.simg.uol.com.br/out/pagseguro/i/user/imgCalculoFrete.gif" id="imgCalculoFrete" alt="Cálculo automático de frete" border="0" />
                                </a>
                                <script type="text/javascript" src="https://p.simg.uol.com.br/out/pagseguro/j/simulador_de_frete.js"></script>
                                
                                <!-- FINAL CODIGO PAGSEGURO -->
                            </td>
                            <td data-th="Price"></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"></td>
                        </tr>
                        <tr ng-repeat="(key, optionCorreio) in shippingOption" ng-if="optionCorreio.Erro == 'false' || shippingOption.length == 0">
                            <td style="left: 1%;position:relative;">
                               <!-- <input type="radio" ng-model="typeService" ng-click="checkShipping(key)" name="typeService" ng-value="key"  value="{{key}}"/> -->
                                <span class="text-warning">
                                    Atenção: Esse valor é uma estimativa feita pelo PagSeguro. 
                                    O valor do frete será incluido quando for redirecionado para o site do PagSeguro'   
                                </span>
                            </td>
                            <td data-th="Price"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="visible-xs">
                            <td class="text-center"><strong>Total {{ total | currency:"R$"}}</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#/comprar-online" class="btn btn-default">
                                    <i class="fa fa-angle-left"></i> 
                                    Continuar Comprando
                                </a>
                            </td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total {{ total | currency:"R$"}}</strong></td>
                            <td>
                                <a href="javascript:;" ng-click="checkOrder()" class="btn btn-primary btn-block">
                                    Finalizar Compra 
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <p class="text-danger" ng-show="messageCheck.text">
                                    {{messageCheck.text}}
                                </p>
                                <img width="100px" style="margin-top: 10px" src="images/Pagseguro-Pagamentos-online.jpg"/>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="alert alert-warning" ng-if="listProductOrder == 0">
                    <p>Seu carrinho está vazio!</p>
                </div>
            </section>
        </div>
    </div>
</div>
<script type="text/javascript">
;( function( $ ) {

    $( '.swipebox' ).swipebox();

} )( jQuery );
</script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>