<!-- .page-header -->
				<div class="page-header" style="background-image:url(images/coffee-965768_1280.jpg)" data-stellar-background-ratio="0.2" data-ng-init="initAboutUs()">
			        <div class="container">
			            <div class="row">
			            	<div class="col-sm-12">
								<ol class="breadcrumb">
								  <li><a href="#home">Home</a></li>
								  <li><a href="javascript:;">Sobre</a></li>
								  <li class="active">Nossa história</li>
								</ol>
							  <h1>Nossa História</h1>
			            	</div>
						</div>    
		            </div>
		        </div>
				<!-- /.page-header -->

				<!-- #secondary-nav-bar -->
				<nav id="secondary-nav-bar" class="navbar navbar-default">
				  <div class="container">
				   <ul id="secondary-nav" class="nav navbar-nav">
                        <li><a href="#quem-nos-somos">Quem somos</a></li>
                        <li class="active"><a href="#nossa-historia">Nossa História</a></li>
                    </ul>
				  </div>
				</nav>
				<!-- /#secondary-nav-bar -->

                <section>
                    <div class="container">
                        <div class="flag">
                            <span class="fa fa-heart-o"></span>
                        </div>

                        <div class="row">
                            

                            <div class="col-sm-8">
                                <h2>O Grande Sonho
                                <small></small></h2>
                                <p>
                                   A criação de nossa marca, além de contemplar produtos de alta qualidade, 
                                    a mesma tem como intuito agregar valor aos produtores do nosso café. 
                                    Muitos produzem café de qualidade, mas poucos sabem valorizar o que se 
                                    tem nas mãos, o PHI Café busca auxiliar estes produtores a crescerem 
                                    junto com seu produto.
                                </p>
                                <!--<img alt="" height="103" src="images/signature.png" width="202">-->
                            </div>
                        </div>
                    </div>
                </section>
<script type="text/javascript" src="src/js/chateau-script.js"></script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>