<div class="container-fluid bg-cover" style="background-image:url(images/coffee-1254165_1920.png)" data-ng-init="myPerfil()">
    <div class="row">
                            
        <section id="register" class="clearfix os-animation" data-os-animation="fadeIn">
        
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-box">
                    <form ng-submit="changePassword(passwords)">
                        <h2 class="text-center">Meus Dados</h2>
                        <div class="form-group">
                            <label for="reg-fname">Nome</label>
                            <input type="text" class="form-control" id="reg-fname" ng-model="perfil.firstName" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-lname">Sobrenome</label>
                            <input type="text" class="form-control" id="reg-lname" ng-model="perfil.lastName" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-email">Email</label>
                            <input type="email" class="form-control" id="reg-email" ng-model="perfil.email" required>
                        </div>
                        <h4 style=" border-bottom: 1px solid #858585; line-height: 0.75em;margin-bottom:26px;padding: 0 10; margin-top: 50px" class="text-left">
                            <span style="background: #fff;">Alterar Senha</span>
                        </h4>
                        <div class="form-group">
                            <label for="reg-pass">Senha Atual</label>
                            <input type="password" class="form-control" id="reg-pass" ng-model="passwords.password" placeholder="Senha Atual" minlength="8" required>
                            <p class="text-danger" ng-show="errorPassword.password">{{errorPassword.password}}</p>
                        </div>
                        <div class="form-group">
                            <label for="reg-pass">Nova senha</label>
                            <input type="password" class="form-control" id="reg-pass" ng-model="passwords.newPassword" placeholder="Nova senha" minlength="8" required>
                            <p class="text-danger" ng-show="errorPassword.newPassword">{{errorPassword.newPassword}}</p>
                        </div>
                        <div class="form-group">
                            <label for="reg-pass-conf">Confirmar Senha</label>
                            <input type="password" class="form-control" id="reg-pass-conf" ng-model="passwords.repeatNewPassword" placeholder="Confirmar Senha" minlength="8" required>
                            <p class="text-danger" ng-show="errorPassword.repeatNewPassword">{{errorPassword.repeatNewPassword}}</p> 
                        </div>
                        <div class="checkbox">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-style-1 left-block">Alterar Senha</button>
                        <p class="{{errorPassword.textClass}}" style="text-align: left" ng-show="errorPassword.text">
                        {{errorPassword.text}}
                        </p> 
                    </form>
                    
                </div>	
                                        
            </div>
        </section>

    </div>
</div>
<script type="text/javascript" src="src/js/chateau-script.js"></script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>