<div class="container">
    <div class="row">

        <section id="product-sheet" class="clearfix">
            <div class="col-sm-4 col-sm-offset-1-">
                <a href="images/{{product.avatar}}" class="img-product swipebox">
                    <img class="img-responsive" src="images/{{product.avatar}}" alt="" width="300" height="600">
                </a>
            </div>
            <div class="col-sm-8">
                <ol class="breadcrumb">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#produtos">Produtos</a></li>
                    <li class="active">{{product.name}}</li>
                </ol>
                <h1>{{product.name}}</h1>
                <h5>{{product.productType}}</h5>
                <p>
                    {{product.description}}
                </p>
                <div class="form-group" style="width:40%;">
                    <label for="sel1">Peso:</label>
                    <select class="form-control" ng-options="price.description for price in product.prices" ng-model="item" ng-change="weightPrice()"></select>
                    <label for="sel1">Tipo:</label>
                    <select class="form-control" ng-options="type.name for type in typeProduct" ng-model="itemType" ng-change="onChangeTypeProduct()"></select>
                    <a href="https://pagseguro.uol.com.br/desenvolvedor/simulador_de_frete.jhtml?CepOrigem=13806220&amp;Peso={{pesoPagSeguro}}&amp;Valor={{valorPagSeguro}}" id="ps_freight_simulator" target="_blank">
                        <img src="https://p.simg.uol.com.br/out/pagseguro/i/user/imgCalculoFrete.gif" id="imgCalculoFrete" alt="Cálculo automático de frete" border="0" />
                    </a>
                    <script type="text/javascript" src="https://p.simg.uol.com.br/out/pagseguro/j/simulador_de_frete.js"></script>
                </div>
                <p>
                    <a style="color:#000000;" target="_blank" href="http://blog.phicafe.com.br/imagens-dos-tipos-de-torras/">Clique aqui para ver a imagem da torra.</a>
                </p>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" ng-if="product.taste != null">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="fa fa-glass"></span> Nota
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <p class="panel-body">
                            {{product.taste}}
                            </p>
                        </div>
                    </div>
                    <div class="panel panel-default" ng-if="product.foodPairing != null">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="fa fa-cutlery"></span> Vai bem com
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <p class="panel-body">
                            {{product.foodPairing}}
                            </p>
                        </div>
                    </div>
                    <div class="panel panel-default" ng-if="product.award.length > 0">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="fa fa-star"></span> Prêmios
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <p class="panel-body" id="wine-awards">
                                <img ng-repeat="nameAward in product.award" src="images/{{nameAward.avatar}}" alt="{{nameAward.name}}" width="720" height="720">
                            </p>
                        </div>
                    </div>
                    <div class="panel panel-default" ng-if="product.video != null">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span class="fa fa-video-camera"></span> Video
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <div class="rwd-video">
                                    <iframe src="{{product.video}}" allowfullscreen="" height="315" width="560"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>							
                <div>
                    <span class="price">{{priceProduct | currency:"R$"}}</span>
                </div>
                <div ng-controller="cartController">
                    <a href="#pedido" class="btn btn-primary btn-lg btn-animated btn-style-1" ng-click="addOrder(product)">
                        <span class="btn-label">Comprar</span>
                        <span class="btn-icon fa fa-shopping-cart"></span>
                    </a>
                </div>
            </div>
        </section><!-- /#product-sheet-->

    </div>
</div>
<script type="text/javascript" src="src/js/chateau-script.js"></script>
<script type="text/javascript">
;( function( $ ) {
var isotopeController = function(){};
$( '.swipebox' ).swipebox();

} )( jQuery );
</script>
