<div class="container-fluid bg-cover" style="background-image:url(images/coffee-1117933_1920.jpg)" data-ng-init="userInit()">
    <div class="row">
                            
        <section id="register" class="clearfix os-animation" data-os-animation="fadeIn">
        
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-box">
                    <form ng-submit="singUp(userSingUp)">
                        <h2 class="text-center">Registrar-se</h2>
                        <div class="form-group">
                            <label for="reg-fname">Nome</label>
                            <input type="text" class="form-control" id="reg-fname" ng-model="userSingUp.firstName" placeholder="Primeiro Nome" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-lname">Sobrenome</label>
                            <input type="text" class="form-control" id="reg-lname" ng-model="userSingUp.lastName" placeholder="Sobrenome" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-email">Email</label>
                            <input type="email" class="form-control" id="reg-email" ng-model="userSingUp.email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-pass">Senha</label>
                            <input type="password" class="form-control" id="reg-pass" ng-model="userSingUp.password" placeholder="Senha" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-pass-conf">Confirmar Senha</label>
                            <input type="password" class="form-control" id="reg-pass-conf" ng-model="userSingUp.passwordTwo" placeholder="Confirmar Senha" required> 
                        </div>
                        <div class="checkbox">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-style-1 center-block">Registrar</button>
                        <p class="{{message.textClass}}" style="text-align: center" ng-show="message.text">
                        {{message.text}}
                        </p> 
                    </form>
                    <div class="form-box-msg text-center">
                        Você já possui cadastro? <a href="#login{{query}}">Login aqui</a>
                    </div>
                </div>	
                                        
            </div>
        </section>

    </div>
</div>
<script type="text/javascript" src="src/js/chateau-script.js"></script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>