<div class="container-fluid bg-cover" data-ng-init="vm.init()" style="">
    <div class="row">
                            
        <section id="register" class="clearfix os-animation" data-os-animation="fadeIn">
        
            <table class="table col-sm-12">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Total</th>
                        <th>Detalhe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in vm.Allsales">
                        <th scope="row">{{order.buyer.name}}</th>
                        <td>{{order.dateOrder | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{order.total | currency:"R$"}}</td>
                        <td>
                            <a href="#/sales/{{order._id}}" class="btn btn-info">Detalhes</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </div>
</div>
<script type="text/javascript" src="src/js/chateau-script.js"></script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>