 <div class="container" ng-init="userOrderDetail();">
    <div class="row">
        <div class="col-sm-12">
        
            <section id="shopping-cart">
            
            <h2>{{detailSales.buyer.name}}</h2>
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:50%">Produto</th>
                            <th style="width:10%">Tipo</th>
                            <th style="width:10%">Peso</th>
                            <th style="width:10%">Valor</th>
                            <th style="width:8%">Quantidade</th>
                            <th style="width:22%" class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in detailSales.product">
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#produto/{{product.url}}"><img src="images/{{product.avatar}}" alt="" class="pull-left product-thumb"/></a>
                                        <h4 class="nomargin">{{product.productName}}</h4>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">{{product.typeProduct}}</td>
                            <td data-th="Price">{{product.weight}}g</td>
                            <td data-th="Price">{{product.subTotal | currency:"R$"}}</td>
                            <td data-th="Quantity">
                                {{product.quantity}}
                            </td>
                            <td data-th="Subtotal" class="text-center">{{product.subTotal*product.quantity | currency:"R$"}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="">
                            <td class=""><strong>Total Pedido: {{ detailSales.total | currency:"R$"}}</strong></td>
                        </tr>
                        <tr>
                            <td class="">
                                <strong>Código Pagamento:</strong>
                                {{detailSales.payment.code}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </section>
        </div>
    </div>
</div>
<script type="text/javascript">
;( function( $ ) {

    $( '.swipebox' ).swipebox();

} )( jQuery );
</script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>