<div class="container" data-ng-init="myOrder()">
    <div class="row">
        <div class="col-sm-12">
        
            <section id="shopping-cart">
            
            <h2>Seus pedidos</h2>
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:50%">Código pedido</th>
                            <th style="width:10%">Valor</th>
                            <th style="width:22%" class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in listOrder">
                            <td data-th="Product">
                                <a href="#/user/pedido/{{order._id}}">{{order._id}}</a>
                            </td>
                            <td data-th="Price">{{order.total | currency:"R$"}}</td>
                            <td class="text-center">
                                {{order.payment.status}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning" ng-if="listOrder.length == 0">
                    <p>Você não possui nenhum pedido!</p>
                </div>
                <p class="text-warning" ng-show="isLoading">Carregando...</p>
            </section>
        </div>
    </div>
</div>
<script type="text/javascript">
;( function( $ ) {

    $( '.swipebox' ).swipebox();

} )( jQuery );
</script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>