<!-- .page-header -->
<div class="page-header" style="background-image:url(images/coffee-292242_1280.png)" data-stellar-background-ratio="0.2" data-ng-init="initAboutUs()">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="#home">Home</a></li>
                    <li><a href="javascript:;">Sobre</a></li>
                    <li class="active">Quem somos</li>
                </ol>
                <h1>Quem somos</h1>
            </div>
        </div>    
    </div>
</div>
<!-- /.page-header -->

<!-- #secondary-nav-bar -->
<nav id="secondary-nav-bar" class="navbar navbar-default">
    <div class="container">
    <ul id="secondary-nav" class="nav navbar-nav">
        <li class="active"><a href="#quem-nos-somos">Quem somos</a></li>
        <li><a href="#nossa-historia">Nossa História</a></li>
    </ul>
    </div>
</nav>
<!-- /#secondary-nav-bar -->

<section>
    <div class="container">
        <div class="flag">
            <span class="fa fa-heart-o"></span>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <img alt="" class="img-responsive img-thumbnail img-circle" src="images/WhoWeAre.png">
            </div>

            <div class="col-sm-8">
                <h2>Phi Café
                <small></small></h2>
                <p>
                    Somos uma marca nova que pode ser encontrada no mercado interno e 
                    externo, levando requinte e sabor a todos que experimentam. 
                    Atualmente realizamos exportação desta commodity para Taiwan, onde o 
                    PHI Café foi provado e aprovado pelos taiuanêses.
                    Um dos motivos de termos a aprovação do mercado externo, é nosso selo 
                    de café orgânico, onde o mesmo comprova a legitimidade de nosso produto.
                </p>
                <!--<img alt="" height="103" src="images/signature.png" width="202">-->
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="src/js/chateau-script.js"></script>
<script>
    jQuery(function($){
        $(document).ready(function(){
            $('#loading-page').hide();
        })
    });
</script>