<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>Phi Café</title>
        
        <!-- meta -->
        
        <meta property="og:locale" content="pt_BR">
        <meta property="og:url" content="https://www.phicafe.com.br">
        <meta property="og:title" content="Desafiando o tradicional">
        <meta property="og:site_name" content="Phi Café">
        <meta property="og:description" content="A maneira que desafiamos o TRADICIONAL é trazendo produtos frescos com aromas maravilhosos, cultivados por pequenos agricultores com grandes histórias.">
        <meta property="og:image" content="https://www.phicafe.com.br/images/logo-01.png">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="800"> 
        <meta property="og:image:height" content="600"> 
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        <link rel="shortcut icon"  href="images/ico.ico" />
        <!-- css -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="src/css/font-awesome.css" rel="stylesheet">
        <link href="src/css/animate.css" rel="stylesheet">
        <link href="src/css/swipebox.css" rel="stylesheet">
        <link href="src/css/swiper.min.css" rel="stylesheet">
        <link href="src/css/chateau-theme.css" rel="stylesheet">
        
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900,900italic,700italic,400italic,300italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
        
		<!-- head js -->
        <script src="src/js/modernizr-2.6.2.min.js"></script>
    </head>
    
    <body ng-app="phicafe">
        
    	<aside id="side-nav">
    	
    		<div>
				<ul class="list-group">
					<li class="list-group-item style-1"><a href="#/user/perfil">Perfil</a></li>
					<li class="list-group-item style-1"><a href="#/user/pedido">Meus Pedidos</a></li>
					<li class="list-group-item style-1"><a href="/logout">Sair</a></li>
				</ul>    	
		        
				<ul class="list-group">
					<li class="list-group-item style-1 list-group-label">Social</li>
					<li class="list-group-item style-1"><a href="https://www.facebook.com/phicafes"><span class="fa fa-facebook-square"></span> Facebook</a></li>
					<!--<li class="list-group-item style-1"><a href="#"><span class="fa fa-twitter-square"></span> Twitter</a></li>
					<li class="list-group-item style-1"><a href="#"><span class="fa fa-google-plus-square"></span> Google Plus</a></li>
					<li class="list-group-item style-1"><a href="#"><span class="fa fa-pinterest-square"></span> Pinterest</a></li>!-->
				</ul>
				
    		</div>

    	</aside><!-- /#side-nav  -->
    	
        <div class="container-fluid" id="main-container">
            <div class="row" id="main-row">
            
                <header>
                    <nav id="main-nav-bar" class="navbar navbar-default">
                        <div class="container">
                            <%if (userName.length > 0) { %>
                            <div class="text-right login-text"> 
                                <p>
                                Olá: <span id="usuario-logado">
                                    <%=userName %>
                                    </span>
                                    <a href="javascript:;" class="toggle-side-menu"><span class="fa fa-ellipsis-v"></span></a>
                                </p>
                            </div>
                            <% } %>
                            <div class="navbar-header">
                                <a class="navbar-brand hidden-xs hidden-sm" href="#home"><img class="logo-phicafe" alt="" src="images/logo-01.png" srcset="images/logo-01.png 1x, images/logo-01.png 2x"></a>
                                <a class="navbar-brand hidden-lg hidden-md" href="#home"><img class="logo-phicafe-mobile" alt="" src="images/logo-01-mobile-02.png" srcset="images/logo-01-mobile-02.png 1x, images/logo-01-mobile-02.png 2x"></a>
                                <button class="navbar-toggle collapsed" data-target="#navigation" data-toggle="collapse" type="button"><span class="fa fa-navicon"></span></button>
                                <a class="navbar-toggle" href="#pedido"><span class="fa fa-shopping-cart"></span></a>
                            </div>
                            <!-- navbar-header -->
                                
                            <div class="collapse navbar-collapse navbar-right" id="navigation">
                                
                                <ul id="main-nav" class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">Produtos <span class="fa fa-angle-down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#produtos#filter=*">Todos os Produtos</a></li>
                                            <li><a href="#produtos#filter=.organic">Orgânico</a></li>
                                            <li><a href="#produtos#filter=.gourmet">Gourmet</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">Sobre nós <span class="fa fa-angle-down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#quem-nos-somos">Quem somos</a></li>
                                            <li><a href="#nossa-historia">Nossa História</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#comprar-online">Comprar Online <span class="badge">Pag<span style="color:#75bd23">Seguro</span></span></a></li>
                                    <li><a href="http://blog.phicafe.com.br">Blog</a></li>
                                </ul>

                                <ul id="tool-nav" class="nav navbar-nav hidden-xs hidden-sm">
                                    <li><a href="#pedido"><span class="fa fa-shopping-cart"></span></a></li>
                                </ul>
							
                            </div>
                            <!-- /.navbar-collapse -->
                            
	                        
	                        <!-- /.container -->
	                        
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
				</header>
                
                <div ng-view></div>
                <div style="height:400px; background-color:#FFFFFF;" id="loading-page" >
                    <img src="images/143.gif" style="position:relative; left:45%; top:40%; margin:0 auto;"/>
                </div>
                <footer>
					<div class="container">
						<div class="row">
							<div class="col-sm-3">
								<ul class="list-group">
									<li class="list-group-item style-1 list-group-label">Produtos</li>
                                    <li class="list-group-item style-1">
                                        <a href="#produtos#filter=*">Todos os produtos</a>
                                    </li>
                                    <li class="list-group-item style-1">
                                        <a href="#produtos#filter=.organic">Orgânico</a>
                                   </li>
                                    <li class="list-group-item style-1">
                                        <a href="#produtos#filter=.gourmet">Gourmet</a>
                                    </li>
								</ul>    	
							</div>
							<div class="col-sm-3">
								<ul class="list-group">
									<li class="list-group-item style-1 list-group-label">Sobre Nós</li>
                                    <li class="list-group-item style-1">
                                        <a href="#quem-nos-somos">Quem somos</a>
                                    </li>
                                    <li class="list-group-item style-1">
                                        <a href="#nossa-historia">Nossa História</a>
                                   </li>
								</ul>    	
							</div>
							<div class="col-sm-3">
								<ul class="list-group">
									<li class="list-group-item style-1 list-group-label">Cliente</li>
									<li class="list-group-item style-1">
                                        <a href="#cadastrar">Cadastrar-se</a>
                                    </li>
									<li class="list-group-item style-1">
                                        <a href="#login">Login</a>
                                    </li>
									<!--<li class="list-group-item style-1"><a href="contact.html">Contact</a></li>
									<li class="list-group-item style-1"><a href="faq.html">FAQ</a></li>!-->
								</ul>    	
							</div>
							<div class="col-sm-3">
								<ul class="list-group">
									<li class="list-group-item style-1 list-group-label">Serviços</li>
									<li class="list-group-item style-1">
                                        <a href="#comprar-online">Comprar Online</a>
                                    </li>
                                    <li class="list-group-item style-1">
                                        <a href="https://pagseguro.uol.com.br/" target="__blank">
                                            <img width="100px" style="" src="images/Pagseguro-Pagamentos-online.jpg">
                                        </a>
                                    </li>
								</ul>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-4 col-sm-offset-4 pad-v text-center">
								<img alt="" src="images/logo-01 (1).png" class="img-responsive" srcset="images/logo-01 (1).png 1x, images/logo-01 (1).png 2x">
							</div>
						</div>
						
					</div>
                </footer>
                
            </div>
            <!-- /#main-row -->
        </div>
        <!-- /#main-container -->
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript">if (!window.jQuery) { document.write('<script src="src/js/jquery-1.11.3.min.js"><\/script>'); }</script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="vendor/angular/angular.js"></script>
        <script type="text/javascript" src="vendor/angular-cookies/angular-cookies.js"></script>
        <script type="text/javascript" src="vendor/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="vendor/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="vendor/angular-input-masks/angular-input-masks-standalone.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        
	    <script type="text/javascript" src="js/controllers/productController.js"></script>
        <script type="text/javascript" src="js/controllers/supportController.js"></script>
        <script type="text/javascript" src="js/controllers/productsController.js"></script>
        <script type="text/javascript" src="js/controllers/cartController.js"></script>
        <script type="text/javascript" src="js/controllers/userController.js"></script>
        <script type="text/javascript" src="js/controllers/salesController.js"></script>


        <script type="text/javascript" src="js/services/supportService.js"></script>
        <script type="text/javascript" src="js/services/productService.js"></script>
        <script type="text/javascript" src="js/services/addressService.js"></script>
        <script type="text/javascript" src="js/services/interceptorService.js"></script>
        <script type="text/javascript" src="js/services/authService.js"></script>
        <script type="text/javascript" src="js/services/salesService.js"></script>

        <script type="text/javascript" src="src/js/jquery.swipebox.min.js"></script>
        <script type="text/javascript" src="src/js/jquery.stellar.js"></script>
        <script type="text/javascript" src="src/js/swiper.jquery.min.js"></script>
        <script type="text/javascript" src="src/js/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="src/js/sticky.js"></script>
        <script type="text/javascript" src="src/js/isotope.pkgd.min.js"></script>
       <script type="text/javascript">
            var nvgId = 42713;
            var nvgAsync = false;
            (function() {
            var nvg = document.createElement('script');
            nvg.id="navegg";
            nvg.type = 'text/javascript';
            nvg.async = nvgAsync;
            nvg.src=document.location.protocol+'//tag.navdmp.com/tm'+nvgId+'.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(nvg, s);
            })();
        </script>
        <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?4DK4NPM4jifl2lHxs2dBB8KcdKZsVSAB";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1711373212521361');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1711373212521361&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!--End of Zopim Live Chat Script-->
    </body>
</html>