
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Pré-Lançamento PhiCafé</title>
    <meta name="description" content="glDescription"/>
    <meta name="keywords" content="glKeywords"/>
    <meta name="author" content="glAuthor">
    
    
    <link rel="shortcut icon" href="http://www.themedept.com/demo/getleads/builder/elements/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://www.themedept.com/demo/getleads/builder/elements/images/favicon.ico" type="image/x-icon">
    
    
    <link rel="stylesheet" href="http://www.themedept.com/demo/getleads/builder/elements/css/plugins/bootstrap.min.css">
    
    <link rel="stylesheet" href="http://www.themedept.com/demo/getleads/builder/elements/css/icons/iconfont.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="http://www.themedept.com/demo/getleads/builder/elements/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="http://www.themedept.com/demo/getleads/builder/elements/css/plugins/owl.carousel.css">
    <link rel="stylesheet" href="http://www.themedept.com/demo/getleads/builder/elements/css/plugins/loaders.css">
    <link rel="stylesheet" href="http://www.themedept.com/demo/getleads/builder/elements/css/plugins/animate.css">
    
    <link rel="stylesheet" href="http://www.themedept.com/demo/getleads/builder/elements/css/style.css">
    
    <link rel="stylesheet" href="http://www.themedept.com/demo/getleads/builder/elements/css/responsive.css">

</head>
<body data-spy="scroll" data-target="#main-navbar">
    <div class="main-container" id="page">
    
        <section id="hero9" class="bg-img hero-leadbox content-align-md" style="background-image:url('images/bk-lancamento.jpg'); padding-top:100px">
            <div class="overlay"></div>
            <div class="container">
                <div class="row y-middle">
            
                <div class="col-sm-12 col-md-5">
                    
                    <div class="form-horizontal form-white bg-grey text-white" id="mailchimpForm">
                        <h4 class="text-center">
                            <img width="300px" height="200px" src="images/logo-01 (1).png"/>
                        </h4>
                        <p class="text-center m-b-md">
                            Tudo o que acreditamos é desafiar o TRADICIONAL. Nós acreditamos em pensar de maneira diferente. 
                            A maneira que desafiamos o TRADICIONAL é trazer nossos produtos de pequenos agricultores, frescos, com aromas maravilhosos e com grandes histórias. 
                            E o que acontece é que produzimos ótimos cafés.
                        </p>
                        <div class="form-group">
                            <input type="email" class="form-control" id="m3Email" placeholder="Endereço de Email" name="email" required>
                        </div>
                        <div class="form-group">
                            <button onclick="submit()" type="button" class="btn btn-shadow btn-green">Quero experimentar</button>
                        </div>
                        <p id="alert">
                            
                        </p>
                        <p class="small m-t">
                            * É necessário confirmar o email após o cadastro.
                        </p>
                    </div>
                    
                    </div> 
                    
                </div> 
            </div> 
        </section>
    </div> 
    
    <script src="http://www.themedept.com/demo/getleads/builder/elements/js/plugins/jquery1.11.2.min.js"></script>
    <script src="http://www.themedept.com/demo/getleads/builder/elements/js/plugins/bootstrap.min.js"></script>
   
    <script text="text/javascript">
       $( "body" ).scrollTop( 300 );
        const URLSERVER = '/pre-lancamento';
        var submit = function(){
            $('#alert').attr('class', '').html('');
            var email = $("#m3Email");
            if(!isEmail(email.val())){
                message = 'Email inválido!';
                $('#alert').attr('class', 'alert alert-danger').html(message);
                return;
            }
            var message = '';
            var data = {
					email: email.val()
				};
				var response = $.ajax({
									url: URLSERVER,
									method: 'POST',
									data: data,
									dataType: 'json'
								});
				response.done(function successDisabled(data){
					message = 'Email cadastrado com sucesso.';
                    $('#alert').attr('class', 'alert alert-success').html(message);
				})
				.fail(function errorResponse(jqXHR, textStatus) {
					if(jqXHR.status === 409){
                        message = 'Seu email já está cadastrado!';
                        $('#alert').attr('class', 'alert alert-warning').html(message);
                        return;
                    }
                    message = 'Ocorreu um interno, por favor tente mais tarde';
                    $('#alert').attr('class', 'alert alert-danger').html(message);
				});
            
        }
        
        var isEmail = function(email){
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
        }
        
        
        
    </script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80368850-1', 'auto');
    ga('send', 'pageview');

    </script>
</body>
</html>